*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
  }
  h2{
    text-align: center;
  }
  .align{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  input{
    padding: 6px 12px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  input:focus{
    border-color: #1677ff;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  }
  button{
    padding: 5px 12px;
    background-color: #1677FF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
  }
  .content{
    display: flex;
    gap: 10px;
    height: 550px;
    padding: 20px;
  }
  .treeStructure,.pathList{
    width: 50%;
    padding: 10px;
    border: 1px solid#ccc;
    overflow: auto;
  }
  ul{
    padding-left: 20px;
    font-size: 16px;
  }
  li{
    list-style-type: none;
    padding: 15px 0 0 15px;
  }
  .arrowIcon{
    height: 10px;
    width: 10px;
    background-image: url(https://www.svgrepo.com/show/27797/right-arrow.svg);
    background-size: cover;
    transition: .5s;
  }
  .treeStructure span{
    display:inline-flex;
    align-items: center;
    gap: 6px;
  }
  .arrow-rotate{
    transform: rotate(90deg);
    transition: .5s;
  }
  .arrow{
    display: flex;
    padding: 8px;
    margin: 10px;
    background-image: url(https://www.svgrepo.com/show/376370/arrow-right-line.svg);
    background-size: cover;
  }
  .path{
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  b{
    font-weight: bold;
    font-size: 20px;
  }
